# Node
node_modules/
.next/
out/
build

# Environment
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
*.pem

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma generated
frontend/src/generated/prisma

# Debug
coverage/
